	

		</div><!-- /#page -->
		
			<div id="footer">
				<ul>

					<li><a href="http://thebarkreport.com">The Bark Report</a><li>

				</ul>	
			</div><!-- /#footer -->	
	</body>
	
	<script type="text/javascript"> window.config = { proxyUrl: "<%= proxyUrl %>" }; </script><!-- import environment vars from node -->


	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script><!-- duh -->
	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script><!-- open source maps! -->


	<script type="text/javascript" src="js/ejs.min.js"></script><
	<script type="text/javascript" src="js/jquery.ejs.js"></script>
	<script type="text/javascript" src="js/routie.min.js"></script>
	<script type="text/javascript" src="js/prism.js"></script>
	<script type="text/javascript" src="js/spin.min.js"></script>
    <script type="text/javascript" src="js/functions.js"></script>

</html>